.u-section-1 .u-sheet-1 {
  min-height: 882px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 61px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 9px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  margin: 93px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 1062px;
  margin: 30px auto 60px 20px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 808px;
  grid-gap: 0px 0px;
  grid-auto-columns: 25%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-1 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 9px 15px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-2 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-2 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 9px 15px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-3 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-3 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 9px 15px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-4 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-4 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 9px 15px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-5 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-5 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 9px 15px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-6 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-6 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 9px 15px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-7 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-7 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  background-image: none;
  margin: 9px 15px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 6px 0 0;
}

.u-section-1 .u-image-8 {
  height: 318px;
  width: 235px;
  margin: 9px auto 0;
}

.u-section-1 .u-social-icons-8 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -16px auto 0;
}

.u-section-1 .u-icon-8 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  background-image: none;
  margin: 9px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    min-height: 715px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
    min-height: 2191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 799px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 57px 320px 0 auto;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 822px;
  margin: 34px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 439px;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 6px 0;
}

.u-section-2 .u-image-1 {
  height: 301px;
  width: 224px;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -18px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 7px 18px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-2 .u-image-2 {
  height: 301px;
  width: 224px;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-2 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -18px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 7px 18px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 6px 0;
}

.u-section-2 .u-image-3 {
  height: 301px;
  width: 224px;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-3 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -18px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 7px 18px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 900;
  margin: 22px 22px 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 264px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 202px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1154px;
    grid-auto-columns: 50%;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 152px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 96px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 51px;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 549px;
  margin: 42px auto 19px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 439px;
  grid-gap: 0px 0px;
  grid-auto-columns: 50%;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 6px 0;
}

.u-section-4 .u-image-1 {
  height: 303px;
  width: 224px;
  margin: 20px auto 0;
}

.u-section-4 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -27px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 19px 9px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-4 .u-image-2 {
  height: 303px;
  width: 224px;
  margin: 20px auto 0;
}

.u-section-4 .u-social-icons-2 {
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -27px auto 0;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 19px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  margin: 36px auto 0;
}

.u-section-5 .u-list-1 {
  width: 1139px;
  margin: 67px auto 60px;
}

.u-section-5 .u-repeater-1 {
  min-height: 188px;
  grid-template-columns: calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px);
  grid-gap: 19px 19px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 116px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 116px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 116px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 155px;
  }

  .u-section-5 .u-image-1 {
    height: 95px;
  }

  .u-section-5 .u-image-2 {
    height: 95px;
  }

  .u-section-5 .u-image-3 {
    height: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 356px;
    grid-template-columns: calc(50% - 9.50003px) calc(50% - 9.50003px);
  }

  .u-section-5 .u-image-1 {
    height: 110px;
  }

  .u-section-5 .u-image-2 {
    height: 110px;
  }

  .u-section-5 .u-image-3 {
    height: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 168px;
  }

  .u-section-5 .u-image-2 {
    height: 168px;
  }

  .u-section-5 .u-image-3 {
    height: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 103px;
  }

  .u-section-5 .u-image-2 {
    height: 103px;
  }

  .u-section-5 .u-image-3 {
    height: 103px;
  }
}